<link rel="import" href="../../../../node_modules/@polymer/polymer/polymer.html">

<link rel="import" href="../../../../node_modules/express-web-components/express-app.html">
<link rel="import" href="../../../../node_modules/express-web-components/express-middleware.html">
<link rel="import" href="../../../../node_modules/express-web-components/express-config.html">

<dom-module id="app-component">
    <template>
        <express-app port="3000">
            <express-config callback="[[paramCallback]]"></express-config>
            <express-app-param name="collectionName" callback="[[paramCallback]]"></express-app-param>
            <express-middleware callback="[[bodyParserMW]]"></express-middleware>
            <express-middleware callback="[[bodyParserURLEncodedMW]]"></express-middleware>
            <express-middleware callback="[[loggerMW]]"></express-middleware>
            <express-middleware method="get" path="/" callback="[[getIndex]]"></express-middleware>
            <express-middleware method="get" path="/collections/:collectionName" callback="[[getCollection]]"></express-middleware>
            <express-middleware method="post" path="/collections/:collectionName" callback="[[postCollection]]"></express-middleware>
            <express-middleware method="get" path="/collections/:collectionName/:id" callback="[[getCollectionEntity]]"></express-middleware>
            <express-middleware method="put" path="/collections/:collectionName/:id" callback="[[putCollectionEntity]]"></express-middleware>
            <express-middleware method="delete" path="/collections/:collectionName/:id" callback="[[deleteCollectionEntity]]"></express-middleware>
        </express-app>
    </template>

    <script>
        class AppComponent {

            beforeRegister() {
                this.is = 'app-component';
            }

            ready() {
                const mongoskin = require('mongoskin');
                const bodyParser = require('body-parser');
                const logger = require('morgan');

                this.bodyParserMW = bodyParser.json();
                this.bodyParserURLEncodedMW = bodyParser.urlencoded({extended: true});
                this.loggerMW = logger('dev');

                var db = mongoskin.db('mongodb://@localhost:27017/test', {safe:true});

                this.paramCallback = (app) => {
                    app.param('collectionName', function(req, res, next, collectionName){
                        req.collection = db.collection(collectionName)
                        return next()
                    });
                };

                this.getIndex = (req, res) => {
                    res.send('please select a collection, e.g., /collections/messages');
                };

                this.getCollection = (req, res, next) => {
                    console.log(req.collection);
                    req.collection.find({} ,{limit: 10, sort: {'_id': -1}}).toArray(function(e, results){
                      if (e) return next(e)
                      res.send(results)
                  });
                }

                this.postCollection = (req, res, next) => {
                    req.collection.insert(req.body, {}, function(e, results){
                      if (e) return next(e)
                      res.send(results)
                  });
                }

                this.getCollectionEntity = (req, res, next) => {
                    req.collection.findById(req.params.id, function(e, result){
                      if (e) return next(e)
                      res.send(result)
                  });
                }

                this.putCollectionEntity = (req, res, next) => {
                    req.collection.updateById(req.params.id, {$set: req.body}, {safe: true, multi: false}, function(e, result){
                      if (e) return next(e)
                      res.send((result === 1) ? {msg:'success'} : {msg: 'error'})
                  });
                }

                this.deleteCollectionEntity = (req, res, next) => {
                    req.collection.removeById(req.params.id, function(e, result){
                      if (e) return next(e)
                      res.send((result === 1)?{msg: 'success'} : {msg: 'error'})
                  });
                }
            }
        }

        Polymer(AppComponent);
    </script>
</dom-module>
